<h1>Pirate, arrr!! Matey!</h1>
<p><form action="/pirates" method="POST">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  <!-- Ship 1 Name: <input type="text" name="pirate[ships][][name]" value="ship_name_1"> -->
  Ship 1 Name: <input type="text" name="ship_name_1">
  <!-- Ship 1 Type: <input type="text" name="pirate[ships][][type]" value="ship_type_1"> -->
  Ship 1 Type: <input type="text" name="ship_type_1">
  <!-- Ship 1 Booty: <input type="text" name="pirate[ships][][booty]" value="ship_booty_1"> -->
  Ship 1 Booty: <input type="text" name="ship_booty_1">
  <!-- Ship 2 Name: <input type="text" name="pirate[ships][][name]" value="ship_name_2"> -->
  Ship 2 Name: <input type="text" name="ship_name_2">
  <!-- Ship 2 Type: <input type="text" name="pirate[ships][][type]" value="ship_type_2"> -->
  Ship 2 Type: <input type="text" name="ship_type_2">
  <!-- Ship 2 Booty: <input type="text" name="pirate[ships][][booty]" value="ship_booty_2"> -->
  Ship 2 Name: <input type="text" name="ship_booty_2">
  <button type="submit" value="Submit">Polly Want a Cracker?</button>
</form>
</p>
